*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  --primary-color: #fefefe;
  --secondary-color: #2e2e2e;
  --secondary-color-alpha: #fefefe33;
}

body{
  width: 100%;
  /* min-height: 100vmin;   */
  min-height: 100vh;
  background:linear-gradient(to top, #3E5879, #020B1A);
  background-repeat: no-repeat;
  user-select: none;
  font-family: 'Montserrat', sans-serif;
}



/* ASIDE */

aside{
  position: fixed;
  z-index: 1;
  background-color: #020711;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 3% 0;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0%;
  min-height: 100%;
  transition: all 1.3s;
}

aside.show{
  visibility: visible;
  opacity: .9; 
  width: 100%;
  padding: 3% 7%;
  color: #fefefe;
  transition: all 1.3s;
}

.about-title{
  font-size: calc(.25rem + 2.5vmin);
  font-weight: 400;
  padding-bottom: 10%;
}

.about-text{
  width: 50%;
  line-height: 1.5;
  font-weight: 300;
  font-size: calc(0.1rem + 2.5vmin);
}

.signature{
  position: relative;
  /* font-family: monospace; */
  font-size: calc(0.15rem + 2.5vmin);
  font-weight: 300;
  width: 48%;
  top: 8vmin;
  text-align: right;
}



/* Main content */

main{
  width: 100%;
  transition: filter 1.3s ease-in-out;
}

main.blurred{
  filter: blur(10px);
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.75rem + 2.5vmin);
}

section{
  width: 100%;
  padding: 3% 7% 1%;
}



/* First section */

#intro{  
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
}

.title{
  /* font-size: 2.5rem; */
  font-weight: 400;
  text-align: center;
  background-color: transparent;
}

.title a{
  text-decoration: none;
  color: var(--primary-color);
}

.navbar{
  display: flex;
  align-items: center;
}

.navbar ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.navbar li{
  display: inline;
  list-style: none;
  padding: 0 0 0 3vw;
}

.about-button{
  display: inline;
  color: var(--primary-color);
  background-color: transparent;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.1rem + 2.5vmin);
  cursor: pointer;
  transition-duration: 0.35s;
}

.about-button:hover{
  color: #3E5879;
}

.navbar li a{
  text-decoration: none;
  color: var(--primary-color);
  transition-duration: 0.35s;
  font-size: calc(.1rem + 2.5vmin);
}

.navbar li a:hover{
  color: #3E5879;
}



/* MAIN SECTION */

#main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  flex-wrap: wrap;
}

.tabs{
  width: 66.66%;
  display: inline-flex;
  justify-content: flex-start;
  background-color: transparent;
  margin-bottom: 2%;
}

.tab-selector{
  flex-grow: 0;
  color: var(--primary-color);
  background-color: transparent;
  width: 25%;
  border: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: calc(.1rem + 2.5vmin);
  padding: 1% 1% ;
  cursor: pointer;
  transition-duration: 0.35s;
}

.tab-selector:hover{
  background-color: var(--secondary-color-alpha);
  /* color: #3E5879; */
}

.tab-selector.active{
  background-color: var(--secondary-color-alpha);
  border-bottom-color: var(--primary-color);
}

.tab-content{
  width: 66.66%;
  height: 380px;
  border-bottom: 1px solid var(--primary-color);
  /* background-color: #fefefe33; */
  transition: height .25s ease-in-out;
}

.weather-card{
  display: none;
  width: 100%;
  height: 100%;
}

.weather-card.active{
  display: block;
}

.weather-canvas{
  width: 100%;
  height: 100%;
}



/* COPYRIGHT */

#contact{
  width: 100%;
  padding-bottom: 1%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}

.copy{
  /* text-align: center; */
  color: var(--primary-color);
  font-weight: 400;
  font-size: calc(.1rem + 2.5vmin);
}



/* MEDIA QUERIES */

@media (max-width: 956px) {

  /* .weather-card:hover{
    width:66%;
  } */
  #contact{
    position: relative;
  }
  #intro{
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .title{
    padding-bottom: 3%;
  }
  .navbar li:nth-child(1){
    padding-left: 0;
  }
}

@media (max-width: 765px){
 
}

@media (prefers-color-scheme: light){
  html{
    --primary-color: #2e2e2e;
    --secondary-color: #fefefe;
    --secondary-color-alpha: #9e9e9e33;
  }
  body{
    background: none;
    background-color: var(--secondary-color);
  }
}